body {
    padding-top:  50px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    min-height: calc(100vh - 100px);
    background-color: rgb(205, 240, 240);
}
hr {
    width: 90%;
}
section {
    width: 80%;
}
#flags {
    width: 80vw;
}
h2 {
    text-align: center;
    width: 80vw;
}
h1 {
    text-align: center;
    width: 80vw;
}